/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --grid-gap: 1.1rem;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 30px 50px;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: var(--grid-gap);
}

/* Navigation */
.main-nav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  background: var(--primary);
  box-shadow: var(--shadow);
}

.main-nav li:nth-child(odd) {
    background: #eee;
}

.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
  transition: background 0.3s, color 0.3s;
}

/* Top container */
.top-container {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
  position: relative;
  grid-area: showcase;
  min-height: 400px;
  background: url(https://source.unsplash.com/random/800x800);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  color: var(--light);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.showcase p {
  font-size: 1.2rem;
  margin-top: 0;
}

.showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007d;
}

.showcase .text {
  z-index: 1;
}

/* Top box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--grid-gap);
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}

/* Info */
.info {
  background: var(--primary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  box-shadow: var(--shadow);
  padding: 2rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

footer {
  text-align: center;
  background: var(--dark);
  color: var(--light);
  padding: 1rem;
}

/* Media queries */

@media (max-width: 700px) {
  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
      font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .info .btn {
      display: block;
      margin: auto;
  }
}


@media (max-width: 500px) {
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
  
    .info {
      grid-template-columns: 1fr;
      text-align: center;
    }
    
    .info .btn {
        display: block;
        margin: auto;
    }
  }